{% extends 'site.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% block content %}
    
    <div class="container-msan site">
        <main class="main">
            <article class="msan-card">
                <header class="msan-card-header">
                    <h5 class="msan-card-title">Description du projet</h5>
                </header>
                <div class="msan-card-body">
                    <div class="description-project text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam!.
                        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
                        harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum
                        voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam!
                        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
                        harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum
                        voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum
                        culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa
                        obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati
                        inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam!
                        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum voluptatum culpa obcaecati inventore quam facilis blanditiis ipsam, doloribus a eius doloremque pariatur? Alias rerum, doloremque optio esse ipsa quisquam!</div>
                </div>
            </article>
            <div class="comment-project-section">
                <header class="msan-card-header-comments center-item">
                    <h4>Commentaires</h4>
                </header>
                <div class="list-comments-project">
                    <div class="comment-item">
                        <div class="author-comment bold-author">Marion a ecrit :</div>
                        <div class="content-comment"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.
                        </div>
                        <div class="date-comment">
                            <p> Le 18 Mars 2018</p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="author-comment bold-author">Marion a ecrit :</div>
                        <div class="content-comment"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.
                        </div>
                        <div class="date-comment">
                            <p> Le 18 Mars 2018</p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="author-comment bold-author">Marion a ecrit :</div>
                        <div class="content-comment"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.
                        </div>
                        <div class="date-comment">
                            <p> Le 18 Mars 2018</p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="author-comment">Marion a ecrit :</div>
                        <div class="content-comment"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt maxime quasi enim hic illum reprehenderit omnis alias voluptatem quaerat sit architecto possimus facere vitae ratione quas corrupti harum, neque quos.</div>
                    </div>
                </div>
            </div>

            


            

        </main>
        <div class="sidebar-container">

            <div class="content-project msan-card">
                <div class="msan-card-title content-item">
                    <h4 class="msan-card-title-icn">Bonjour</h4>
                </div>
                <div class="msan-card-published-icn content-item text-primary">Bonjour</div>
                <div class="msan-card-date-icn content-item text-primary">Bonjour</div>
                <div class="msan-card-estimation-icn content-item text-secondary">Bonjour</div>
                <div class="msan-card-vote content-item text-warning">120</div>
                <div class="msan-card-comments content-item text-info">120</div>
                <div class="msan-card-category-icn content-item text-primary">
                    Categorie
                </div>
                <div class="border-item border-item-bottom"></div>
                <div class="list-item">
                    <span class="badge bg-light">Light</span>
                    <span class="badge bg-light">Light</span>
                    <span class="badge bg-light">Light</span>
                </div>
                <div class="border-item border-item-top"></div>
                <div class="msan-card-technology-icn content-item text-primary">
                    Technologie
                </div>
                <div class="border-item border-item-bottom"></div>
                <div class="list-item">
                    <span class="badge bg-dark">Light</span>
                    <span class="badge bg-dark">Light</span>
                    <span class="badge bg-dark">Light</span>
                    <span class="badge bg-dark">Light</span>
                    <span class="badge bg-dark">Light</span>
                    <span class="badge bg-dark">Light</span>
                </div>
                <div class="border-item"></div>
                <div class="button-action-project">
                    <a href="" class="btn btn-primary">Premier</a>
                    <a href="" class="btn btn-primary">Premier</a>
                </div>
            </div>


            <nav class="sidebar">
                <a href="#" class="sidebar-f">Fil d'actualité</a>
                <a href="#" class="sidebar-g">Messages</a>
                <a href="#" class="sidebar-h">Mon profil</a>
            </nav>
        </div>
    </div>


    {% endblock %}
    
{% endblock %}
